[submodule "smol"]
	path = smol
	url = https://github.com/colorchestra/smol
[submodule "themes/smol"]
	path = themes/smol
	url = https://github.com/colorchestra/smol
[submodule "themes/huey"]
	path = themes/huey
	url = https://github.com/alloydwhitlock/huey/
