body {
  margin: 0;
  background: #14a02e;
  text-align: center;
}

@font-face {
  font-family: BigFont;
  src: url(assets/BigFont.ttf);
}

.big {
  font-family: BigFont;
  background-color: aquamarine;
  font-size: 200%;
}

.page {
    display: grid;
    grid-template-columns: 64px 1fr;
}

.Guy {
    position: fixed;
    top: 16px;
    left: 16px;
}

.PathEnd {
    position: fixed;
    bottom: 0px;
}

.scrollbar {
    background-color: #f4d29c;
}