body {
  margin: 0;
  background: pink;
  text-align: center;
}

@font-face {
  font-family: BigFont;
  src: url(assets/BigFont.ttf);
}

.big {
  font-family: BigFont;
  background-color: aquamarine;
  font-size: 1000%;
}

.page {
    display: grid;
    grid-template-columns: 64px 1fr;
}

.Guy {
    position: fixed;
    top: 16;
    left: 16;
    width: 32px;
    height: 32px;
}