/* STYLE CSS */

/* GLOBAL ELEMENTS */
body {
  margin: 0;
  background: #249fde;
  text-align: center;
  font-size: 100%;

  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}
p {
  margin: 0;
}
@font-face {
  font-family: BigFont;
  src: url(assets/BigFont.ttf);
}
.big {
  font-family: BigFont;
  font-size: 400%;
}
.nine-box {
  border-image: url(assets/NineBox.png) 80 80 80 80 fill / 40px 40px 40px 40px;
  padding: 80px 80px 80px 80px;
  margin: 32px;
}

/* MAIN ELEMENTS */
.PageGrid {
  display: grid;
  /* grid-template-columns: 2fr 14fr; */
  grid-template-columns: 1fr 9fr;
  height: 100%;
}
.MidGround {
  background-image: url(assets/Hill.png);
  width: 100%;
  z-index: 10;
  position: fixed;
  bottom: -100%;
  left: 0;
  animation: up-down ease-in-out;
  animation-timeline: scroll();
}
/* img.Hill {
  width: 100%;
  z-index: 10;
  bottom: 0;
  left: 0;
} */
@keyframes up-down {
  30% { bottom: -100%; }
  60% { bottom: 0%; }
  90% { bottom: -100%; }
  100% { bottom: -100%; }
}
img.GuyMed {
  width: 5%;
  z-index: 5;
  top: -20%;
  left: 50%;
}

/* SIDEBAR ELEMENTS */
.Sidebar {
  background-image: url(assets/GuyPath.png);
  background-size: 100%;
  background-repeat: repeat-y;
  z-index: 2;
  min-height: 100%;
}
img.Guy {
  src: "assets/Guy.gif";
  position: fixed;
  width: 6.25%;
  top: 0%;
  left: 0px;
  z-index: 4;
  animation: move-down linear;
  animation-timeline: scroll();
}
@keyframes move-down {
  50% { top: 100% }
  100% { top: 100% }
}

/* FRONT PAGE ELEMENTS */
.FrontPage {
  
}
img.Clouds {
  position: fixed;
  top: 0;
  right: 0;
  width: 90%;
  z-index: -1;
  animation: scroll-clouds linear;
  animation-timeline: scroll();
}
img.Sun {
  position: fixed;
  top: 0;
  right: 0;
  width: 90%;
  z-index: -2;
  animation: scroll-sun linear;
  animation-timeline: scroll();
}
@keyframes scroll-sun {
  to {
    top: -50%;
  }
}
@keyframes scroll-clouds {
  to {
    top: -75%;
  }
}