/* STYLE CSS */

/* GLOBAL ELEMENTS */
body {
  margin: 0;
  background: #64bbdd;
  text-align: center;
  font-size: 100%;

  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;

  overflow-x: clip;
  font-family: BigFont;
}
p {
  margin: 0;
}
img,
.nine-box,
.Sidebar,
.BG,
.Guy,
.Sun,
.Clouds,
.Hill,
.GuyMed,
.View {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
@font-face {
  font-family: BigFont;
  src: url(/assets/BigFont.ttf);
}
/* .big {
  font-family: BigFont;
} */
h1 {
  font-size: clamp(1.75rem, 5vw, 4rem);
  font-weight: bold;
}
.nine-box {
  border-image: url(/assets/NineBox.png) 80 80 80 80 fill / 40px 40px 40px 40px;
  padding: clamp(20px, 8vw, 80px);
  margin-top: 5vw;
  margin-bottom: 5vw;
}

/* BACKGROUND LAYERS */
.BG {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
  bottom: -100%;
}
.BG1 {
  background-image: url(/assets/BG1.png);
  z-index: -6;
  animation: bg1-rise ease-in;
  animation-timeline: scroll();
}
.BG2 {
  background-image: url(/assets/BG2.png);
  z-index: -5;
  animation: bg2-rise ease-in;
  animation-timeline: scroll();
}
.BG3 {
  background-image: url(/assets/BG3.png);
  z-index: -4;
  animation: bg3-rise ease-in;
  animation-timeline: scroll();
}
.BG4 {
  background-image: url(/assets/BG4.png);
  z-index: -3;
  animation: bg4-rise ease-in;
  animation-timeline: scroll();
}
@keyframes bg1-rise {
  0% {
    bottom: -100%;
    background-position-y: 0;
  }
  5% {
    bottom: -100%;
    background-position-y: 0;
  }
  20% {
    bottom: 0%;
    background-position-y: 0;
  }
  35% {
    bottom: 0%;
    background-position-y: -25vw;
  }
  100% {
    bottom: 0%;
    background-position-y: -25vw;
  }
}
@keyframes bg2-rise {
  0% {
    bottom: -100%;
    background-position-y: 0;
  }
  25% {
    bottom: -100%;
    background-position-y: 0;
  }
  40% {
    bottom: 0%;
    background-position-y: 0;
  }
  55% {
    bottom: 0%;
    background-position-y: -25vw;
  }
  100% {
    bottom: 0%;
    background-position-y: -25vw;
  }
}
@keyframes bg3-rise {
  0% {
    bottom: -100%;
    background-position-y: 0;
  }
  50% {
    bottom: -100%;
    background-position-y: 0;
  }
  65% {
    bottom: 0%;
    background-position-y: 0;
  }
  80% {
    bottom: 0%;
    background-position-y: -25vw;
  }
  100% {
    bottom: 0%;
    background-position-y: -25vw;
  }
}
@keyframes bg4-rise {
  0% {
    bottom: -100%;
    background-position-y: 0;
  }
  75% {
    bottom: -100%;
    background-position-y: 0;
  }
  90% {
    bottom: 0%;
    background-position-y: 0;
  }
  100% {
    bottom: 0%;
    background-position-y: -25vw;
  }
}

/* MAIN ELEMENTS */
.PageGrid {
  position: relative;
  min-height: 220vh;
}
.MidGround {
  z-index: 10;
  min-width: 100%;
  position: fixed;
  bottom: -100%;
  left: 0;
  animation: up-down ease-in-out;
  animation-timeline: scroll();
}
.Hill {
  /* width: 100%; */
  width: clamp(min(115vh, 150vw), 100vw, 200vw);
  aspect-ratio: 2240 / 800;
  background-image: url(/assets/Hill.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 10;
  position: absolute;
  bottom: -100%;
  left: 0;
}
@keyframes up-down {
  0% {
    bottom: -100%;
  }
  30% {
    bottom: -100%;
  }
  60% {
    bottom: 0%;
  }
  90% {
    bottom: -100%;
  }
  100% {
    bottom: -100%;
  }
}
.GuyMed {
  /* width: 100%; */
  width: clamp(min(115vh, 150vw), 100vw, 200vw);
  aspect-ratio: 2240 / 800;
  background-image: url(/assets/GuyMed.gif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 15;
  position: fixed;
  bottom: -100%;
  /* left: 0; */
  animation: guy-up-down ease-in-out;
  animation-timeline: scroll();
}
@keyframes guy-up-down {
  0% {
    bottom: -100%;
    left: -10vw;
  }
  30% {
    bottom: -100%;
    left: -10vw;
  }
  60% {
    bottom: 0%;
    left: 2vw;
  }
  90% {
    bottom: -300%;
    left: 90vw;
  }
  100% {
    bottom: -300%;
    left: 90vw;
  }
}
.PageEnd {
}
.View {
  z-index: 99;
  /* width: 100%; */
  /* width: 100vw; */
  width: clamp(min(115vh, 150vw), 100vw, 200vw);
  aspect-ratio: 2240 / 1440;
  background-image: url(/assets/PageBottom.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: fixed;
  bottom: -100%;
  right: 0;
  animation: down-up linear;
  animation-timeline: scroll();
}
@keyframes down-up {
  0% {
    bottom: -100%;
  }
  75% {
    bottom: -100%;
  }
  100% {
    bottom: 0%;
  }
}

/* SIDEBAR ELEMENTS */
.Sidebar {
  background-image: url(/assets/GuyPath.png);
  background-size: 100%;
  background-repeat: repeat-y;
  position: fixed;
  top: 0;
  left: 0;
  width: clamp(min(10vh, 14vw), 10vw, 10vw);
  height: 100vh;
  z-index: 2;
  animation: sidebar-hide ease-in;
  animation-timeline: scroll();
}
@keyframes sidebar-hide {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(0%);
  }
  35% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.Guy {
  background-image: url(/assets/Guy.gif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: fixed;
  /* width: 5%; */
  width: clamp(min(5vh, 8vw), 5vw, 5vw);
  aspect-ratio: 1 / 1;
  top: 0%;
  left: 0px;
  z-index: 4;
  animation: move-down ease-in;
  animation-timeline: scroll();
}
@keyframes move-down {
  0% {
    top: 0%;
  }
  40% {
    top: 100%;
  }
  100% {
    top: 100%;
  }
}

/* FRONT PAGE ELEMENTS */
.FrontPage {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
}
.Clouds {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: clamp(min(100vh, 120vw), 90vw, 90vw);
  aspect-ratio: 256 / 512;
  background-image: url(/assets/Clouds.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1;
  animation: scroll-clouds linear;
  animation-timeline: scroll();
}
.Sun {
  position: fixed;
  top: 0;
  /* right: 0;
  width: 90vw; */
  left: 50%;
  transform: translateX(-50%);
  width: clamp(min(100vh, 120vw), 90vw, 90vw);
  aspect-ratio: 256 / 512;
  background-image: url(/assets/Sun.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -2;
  animation: scroll-sun linear;
  animation-timeline: scroll();
}
@keyframes scroll-sun {
  to {
    top: -50%;
  }
}
@keyframes scroll-clouds {
  to {
    top: -75%;
  }
}

.TextBody {
  /* margin: 5vw; */
  font-size: clamp(1rem, 0.6rem + 1.8vw, 1.75rem);
  /* margin-right: 10vw; */
  margin-left: 5vw;
  margin-right: 5vw;
}
